.Showpiece{
    /* display: block; */
    display: flex;
    /* width: 100px; */
    /* max-width: 1000px; */
}

.bookcard{
    /* background-color: white; */
    width: 230px;
    height: 350px;
    margin: 0px 15px;
    border: none;
    /* padding: 10px; */
    border-radius: 20px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(0,0,0,0.44) 0px 5px 5px;
}