.admin-sidebar{
    text-align: center;
    display: flex;
    /* z-index: 1; */
    /* justify-content: center; */
    flex-direction: column;
    margin: 130px 0px;
    width: 280px;
    left: 0;
}

.user-sidebar{
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    /* width: 280px; */
}

.link-style{
    width: 280px;
    margin: 15px 0px;
    padding: 13px 10px;
    background-color: rgb(216, 216, 216);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    box-shadow: rgb(0,0,0,0.60) 0px 2px 6px;
}

.link-style:hover{
    color: white;
    transform: scale(1.1);
    background-color: rgb(104, 104, 104);
    
}

.searchBar{
    width: 270px;
    margin: 50px 25px;
    /* padding: 0px 20px; */
    display: flex;
}

.search-box{
    height: 35px;
    width: 250px;
    margin-bottom: 30px;
    padding: 5px 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.search-box:focus{
    border: none;
}

.search-btn{
    height: 45px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-btn:hover{
    box-shadow: inset rgb(0,0,0,0.30) 0px 0px 8px 0.3px;
}

.search-icon{
    height: 20px;
    margin: 0px 10px;
}

.search-icon:hover{
    transform: scale(0.9);
}